<div class="col-md-6">
    <table class="table table-bordered" border="1">
        <tr *ngIf="employees.length>0">
            <th>FullName</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Date of birth</th>
            <th>Address</th>
        </tr>
        <tr *ngFor='let emp of employees'>
        
            <td>{{emp.firstname + emp.middlename + emp.lastname}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.Dob}}</td>
            <td>{{emp.add1+emp.add2}}</td>
        
        </tr>
        <tr *ngIf="employees.length==0">
            <td colspan="4"> Employees record not found</td>
    
        </tr>
    </table>
    </div>